.t1 {font-family: 'Noto Sans Thai', sans-serif;}

  /* ซ่อน scrollbar ทั้งหมดในทุกเบราว์เซอร์ */
  #suggestions {
    scrollbar-width: none;        /* Firefox */
    -ms-overflow-style: none;     /* IE และ Edge */
  }

  #suggestions::-webkit-scrollbar {
    display: none;                /* Chrome, Safari และ Opera */
  }