.t1 {font-family: 'Noto Sans Thai', sans-serif;}

  #suggestions {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-mask-image: linear-gradient(black, black); /* ป้องกัน scrollbar แสดง */
    mask-image: linear-gradient(black, black);
  }

  #suggestions::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }